.btn{
    padding: 15px 30px;
    border: none;
    background-color: var(--primary);
    color: var(--on-primary);
    border-radius: 8px;
    margin-top: 30px;
    font-size: 15px;
    transition-duration: 0.4s;
} 
.btn *{
    vertical-align: middle;
    margin: auto auto;
}

.btn:hover{
    color: #2b2d2f;
    background-color:  yellow;
    border: 1px solid gray;
}
