@import "theme.css";
@import "button.css";
@import "textbox.css";
@import "input.css";


:root{
  --primary: var(--md-sys-color-primary-light);
  --on-primary: var(--md-sys-color-on-primary-light);
  --box: --md-sys-color-on-background-dark;
}

*{
  font-family: vazir, 'iransansmobile', 'B titr';
  font-size: large;
}

body{
  background-image: url("pattern.png");
}



.box,.info{
  padding: 10px;
  padding-top: 30px;
  width: 40%;
  margin: 20px  auto;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(160, 159, 159);
}

.info{
  width: 60%;
}

form *{
  vertical-align: middle;
  margin-top: 10px;
}

form{
  text-align: center;
  padding-top:20px ;
  padding-bottom:20px ;
}
  

label:not(.radio_lbl){
  width:15em;
  text-align: right;
  margin-right: 80px;
  color: #2b2d2f;
  display: block;
}


h1{
  margin: 0 auto;
  background-color:var(--primary);
  width: 75%;
  text-align: center;
  color: var(--on-primary);
  border-radius: 10px;
  padding: 6px 0;
  font-size: 25px;
}


select{
  margin: 10px auto;
  font-size: medium;
}

.user_list{
  display: block;
}
  
.small_txt{
  width: 20% !important; 
  display: inline !important;
}

.radio_lbl{
  margin: 0 auto;
}

.cover{
  margin: 15px auto;
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  width: 150px;
  height:150px;
}

a{
  text-decoration: none;
}

